.register-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(86, 191, 226);
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-form{
    height: 50%;
    width: 40%;
    background-color: white;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
}
.regiter-title
.first-name-field
.last-name-field
.sex-field {}
.birthday-field
.phone-field
.mail-field{}